@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Deneyim Ekle</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Proje Başlığı</label>
                        <input type="text" class="form-control" name="Name" placeholder="Proje Başlığı">
                        @Html.ValidationMessageFor(x=>x.Name)
                    </div>
                    <div class="form-group">
                        <label>Resim Yolu</label>
                        <input type="text" class="form-control" name="ImageUrl" placeholder="Resim Yolu">
                        @Html.ValidationMessageFor(x=>x.ImageUrl)
                    </div>
                    <div class="form-group">
                        <label>Proje Linki</label>
                        <input type="text" class="form-control" name="ProjectUrl" placeholder="Proje Linki">
                        @Html.ValidationMessageFor(x=>x.ProjectUrl)
                    </div>
                    <div class="form-group">
                        <label>Fiyat</label>
                        <input type="text" class="form-control" name="Price" placeholder="Fiyat">
                        @Html.ValidationMessageFor(x=>x.Price)
                    </div>
                    <div class="form-group">
                        <label>Tamamlanma Oranı</label>
                        <input type="text" class="form-control" name="Value" placeholder="Tamamlanma Oranı">
                        @Html.ValidationMessageFor(x=>x.Value)
                    </div>
                    <div class="form-group">
                        <label>Platform Resim URL</label>
                        <input type="text" class="form-control" name="Platform" placeholder="Platform Resim URL">
                        @Html.ValidationMessageFor(x=>x.Platform)
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}

