@using EntityLayer.Concrete
@model List<Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-5 text-left">
                <h2 class="card-title">Deneyimler Listesi</h2>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <a href="/Experience/AddPortfolio/" class="btn btn-primary">Deneyim Ekle</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Proje</th>
                        <th>Ücret</th>
                        <th>Durum</th>
                        <th>Tamamlanma Oranı</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                <a href="@item.ProjectUrl" class="avatar rounded-circle mr-3">
                                    <img alt="Image placeholder" src="@item.Platform">
                                </a>
                            </th>
                            <th>

                                <span class="name mb-0 text-sm">@item.Name</span>
                            </th>
                            <td class="budget">
                                @item.Price
                            </td>
                            <th>
                                <span class="badge badge-dot mr-4">
                                    <i class="bg-success"></i>
                                    <span class="status">Tamamlandı</span>
                                </span>
                            </th>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%;"></div>
                                </div>
                            </td>
                            <td><a href="/Experience/DeletePortfolio/@item.PortfolioID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Experience/EditPortfolio/@item.PortfolioID" class="btn btn-outline-info">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>